aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
charset-normalizer==3.1.0
dataclasses==0.6
dataclasses-serialization==1.3.1
frozenlist==1.3.3
greenlet==2.0.2
idna==3.4
more-properties==1.1.1
multidict==6.0.4
mypy-extensions==1.0.0
PyYAML==6.0
SQLAlchemy==2.0.6
toolz==0.12.0
toposort==1.10
typing-inspect==0.8.0
typing_extensions==4.5.0
websockets==10.4
yarl==1.8.2
